---
name: Checks

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  nix-flake:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          determinate: false

      - name: Build package
        run: nix build

      - name: Run command
        run: nix run . -- --help


  pre-commit:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: prek
        uses: j178/prek-action@9d6a3097e0c1865ecce00cfb89fe80f2ee91b547 # v1.0.12


  pytest:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        package-resolution:
          - --frozen
          - --resolution=lowest-direct
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
          - "3.15"

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync ${{ matrix.package-resolution }}

      - name: Run pytest
        run: uv run pytest


  ty:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run ty
        run: uv run ty check .


  usage:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen

      - name: Generate usage.md
        run: uv run ./generate-usage.sh

      - name: Check usage.md is up-to-date
        run: git diff --exit-code


  all-checks-passed:
    if: always()

    needs:
      - nix-flake
      - pre-commit
      - pytest
      - ty
      - usage

    runs-on: ubuntu-24.04

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
