---
name: Release to PyPI

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      attestations: write
      contents: read
      id-token: write

    steps:
      - name: Checkout the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: false

      - name: Install dependencies
        run: uv sync --frozen

      - name: Build package
        run: uv build

      - name: Attest
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: dist/*

      - name: Store release files
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: release
          path: dist/

  upload:
    runs-on: ubuntu-24.04
    needs:
      - build

    permissions:
      id-token: write

    steps:
      - name: Fetch release files
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: release
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
